:where(.ant-card-body) {
    padding: 13px 10px 0 10px !important;
}

:where(.ant-card){
    line-height:normal;
}

:where(.last-child) {
    margin-bottom: 0px;
    line-height:normal !important;
    margin: 0 !important;
}

.css-dev-only-do-not-override-1r287do .ant-card .ant-card-meta-detail > div:not(:last-child) {
    margin-bottom: 0 !important;
}

:where( .ant-card-meta-title) {
    font-size: 12px !important;
}

:where(.ant-card) {
    line-height:1.2 !important;
}