.back-icon {
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    color: #1890ff;
    transition: transform 0.3s;
    z-index: 2;
}

:where(.ant-modal-content) {
    padding: 0 !important;
    background-color: transparent !important;
    box-shadow: none !important;
}
